body{
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: center;
}
#mainDiv{
    display: flex;
    flex-direction: column;
    border-color:black;
    border:1px solid;
    width: 500px;
    height: 500px;
}
.deepDiv{
    display:flex; 
    border-color: red;
    border:50px;
    flex:1;
    border:1px solid;
    background: white;
    
}
.insideDiv{
    display:flex; 
    flex-direction:row;
    flex:1;
    
}
.colored{
    background: black;
}
h1{
    color:black;
    font-size: 50px;
}
.topOptions{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    width: 400px;
    
}
p{
    font-size: 18px;
    display: flex;

}
